BACKEND_URL="http://localhost:3000"
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000"
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
CLOUDINARY_CLOUD_NAME=""
DATABASE_URL="postgresql://user:password@host:port/db"
EMAIL_USER=""
FRONTEND_URL="http://localhost:5000"

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_MAPS_API_KEY=""

REALTOR_RAPIDAPI_HOST="realtor-com4.p.rapidapi.com"
REALTOR_RAPIDAPI_KEY=""
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
STRIPE_BILLING_PORTAL_CONFIG=""
STRIPE_PRICE_BASIC=""
STRIPE_PRICE_STANDARD=""
STRIPE_PRICE_PREMIUM=""

GROK_API_KEY=""

SENDGRID_API_KEY=""

SESSION_SECRET=""

TWILIO_ACCOUNT_SID=""
TWILIO_API_KEY=""
TWILIO_API_SECRET=""
TWILIO_AUTH_TOKEN=""
TWILIO_PHONE_NUMBER=""

ZOHOO_ACCESS_TOKEN=""
ZOHOO_ID=""
ZOHOO_ORG_ID=""
ZOHOO_REFRESH_TOKEN=""
ZOHOO_SECRET=""

GHL_AGENCY_API_KEY=""
GHL_AGENCY_ID=""

MYPLUSLEADS_ENTERPRISE_EMAIL="jason@henryhatton.com"
MYPLUSLEADS_ENTERPRISE_PASSWORD="Developer1666$"
MYPLUSLEADS_BUNDLE_NAME="Getting Started"
MYPLUSLEADS_DEFAULT_BASE_ZIP="78701"

ZAPIER_WEBHOOK_URL=""
